<!--
 * @Author: 22040240-Zhou Kai 1204617231@qq.com
 * @Date: 2022-08-15 20:05:59
 * @LastEditors: 22040240-Zhou Kai 1204617231@qq.com
 * @LastEditTime: 2022-08-20 13:53:31
 * @FilePath: /Kaigard.github.io/_layouts/default.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}
    {% include search.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
